<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">{{ footerMainText }}</div>
    <div class="footer-right">
      {{ socialIntro }}
      <a
        href="{{ linkedInURL }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ linkedInIconClass }}"></i>
      </a>
      <a
        href="{{ githubURL }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="{{ githubIconClass }}"></i>
      </a>
    </div>
  </div>
</footer>
