<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-item" *ngFor="let image of images; let i = index"
            [ngClass]="{ 'carousel-item--active': i === currentImageIndex }">
            <img [src]="image" [alt]="'Image ' + (i + 1)" />
        </div>
        <button class="carousel-button carousel-button--prev" (click)="prevImage()">&#10094;</button>
        <button class="carousel-button carousel-button--next" (click)="nextImage()">&#10095;</button>
    </div>
</div>