.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: #58a4b0;
  font-family: Arial, sans-serif;
}

.toolbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}

.toolbar__logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toolbar__logo {
  font-size: 3.5rem;
  font-weight: bold;
  color: #1b1b1e;
}

/* Toolbar Logo Mobile styles */
@media (max-width: 767px) {
  .toolbar__logo {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.toolbar__subheader {
  font-size: 2rem;
  color: #d8dbe2;
}

/* Toolbar Subheader Mobile styles */
@media (max-width: 767px) {
  .toolbar__subheader {
    font-size: 1.5rem;
  }
}

.toolbar__nav {
  display: flex;
}

.toolbar__nav-item {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #d8dbe2;
  transition: color 0.3s;
  font-size: 2rem;
  letter-spacing: 0.2em;
  border-right: 1px solid #d8dbe2;
  padding-right: 10px;
}

/* Toolbar Subheader Mobile styles */
@media (max-width: 767px) {
  .toolbar__nav-item {
    font-size: 1.5rem;
  }
}

.toolbar__nav-item:last-child {
  border-right: none;
  padding-right: 0;
}

.toolbar__nav-item:hover {
  color: #a9bcd0;
}

.toolbar__spacer {
  flex-grow: 1;
}
