<app-intro-content introHeader="Austin's Blog"
  introText="All the latest in my journey through Software Development and life more broadly."></app-intro-content>

<div class="blog-container">
  <div *ngFor="let blog of blogs" class="blog-post">
    <a [routerLink]="['/blog', blog.id]">
      <img [src]="blog.imageUrl" alt="{{ blog.title }}" />
    </a>
    <div class="content-wrapper">
      <h2 class="blogTitle">{{ blog.title }}</h2>
      <p class="blogAuthorAndDate">{{ blog.author }} | {{ blog.date }}</p>
      <p class="blogSummary">{{ blog.summary }}</p>
      <a [routerLink]="['/blog', blog.id]">Read More</a>
    </div>
  </div>
</div>