<app-toolbar></app-toolbar>
<app-intro-content></app-intro-content>

<app-two-column-image-text imageUrl="assets\images\image2.jpg">
  <p>First paragraph of the text content.</p>
  <p>Second paragraph of the text content.</p>
  <p>Third paragraph of the text content.</p>
</app-two-column-image-text>

<app-carousel [images]="carouselImages" [interval]="3000"></app-carousel>

<app-footer></app-footer>

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div> -->
