<app-intro-content
  introHeader="Welcome"
  introText="I believe that a strong Developer should be proficient in web development
languages and technologies, have a good understanding of software testing
principles and methodologies, and be capable of writing clean and
maintainable code."
></app-intro-content>

<app-two-column-image-text imageUrl="assets\images\image2.jpg">
  <p>First paragraph of the text content.</p>
  <p>Second paragraph of the text content.</p>
  <p>Third paragraph of the text content.</p>
</app-two-column-image-text>

<app-carousel [images]="carouselImages" [interval]="3000"></app-carousel>
