<app-intro-content introHeader="Welcome" introText="I believe that a strong Developer should be proficient in web development
languages and technologies, have a good understanding of software testing
principles and methodologies, and be capable of writing clean and
maintainable code."></app-intro-content>

<h2 class="sectionHeader">Project Work</h2>
<div class="projectsContainer">
    <app-project-columns></app-project-columns>
</div>


<h2 class="sectionHeader">Web Design</h2>
<div class="sitesContainer">
    <div class="column-row no-gutters">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let box of boxes">
            <app-image-box [box]="box"></app-image-box>
          </div>
    </div>
</div>