<mat-tab-group>
  <mat-tab label="Test Engineer II">
    <div class="resume-item">
      <div class="year">
        <div class="start-date">Start Date:</div>
        <div class="end-date">End Date:</div>
      </div>
      <div class="content">
        <h3></h3>
        <ul>
          <!-- <li *ngFor="let bullet of jobData.description">{{ bullet }}</li> -->
        </ul>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Tab 2">Tab 2 content</mat-tab>
  <mat-tab label="Tab 3">Tab 3 content</mat-tab>
</mat-tab-group>
